<!DOCTYPE html>
<html>
<head>
    <title>main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div id="div1" style="width: 350px;">
    <form id="form1" method="post" action="postlogin" >
        <fieldset>
            <legend>表单1</legend>
            姓名:<input type="text" name="username" /><br />
            学历:<select name="education">
            <option value="中学">中学</option>
            <option value="大专">大专</option>
            <option value="本科">本科</option>
            <option value="硕士">硕士</option>
            <option value="博士">博士</option>
        </select><br />
            住址:<input type="text" name="address" />
            隐藏:<input name="hide" disabled="disabled" value="111" />
            <input type="submit" value="提交" />
        </fieldset>
    </form>
</div>
</body>
</html>